<div id="<%= dom_id cart %>" >
	<h2 class="font-bold text-lg mb-3">Your Cart</h2>

	<table class="table-auto">
		<%= render cart.line_items %>
		<tfoot>
			<tr>
				<th class="text-right pr-2 pt-2" colspan="3">Total:</th>
				<td class="text-right pt-2 font-bold border-t-2 border-black">
					<%= number_to_currency(cart.total_price) %>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="flex flex-row gap-5 mt-5">
		<%= button_to "Empty cart", cart, method: :delete, 
			class: "px-3 py-2 text-sm font-medium text-center text-white bg-rose-600 
				rounded-lg hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 
				dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800" %>		
	</div>

</div>